.divContenido{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.textos{
    width: 50%;
}

.textos > p{
font-size: 23px;
    margin: 30px 0px;
}

.img2{
    width: 95%;
    margin: 0px 2.5%;
}


