.footer{
    height: 300px;
    width: 95%;
    margin: 100px auto 0px auto;
    color: rgb(85,85,85);
}

.footerDiv{
    border-top: 1px solid rgb(150,150,150);

}

.logo2{
    height: 28px;
    margin-bottom: 23px;
}
.line{
    border-top: 1px solid rgb(150,150,150);
    width: 100%;
    margin-bottom: 4px;
}

.footerDiv1{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

.footerDiv2{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;  
    font-size: 13.5px;
}

.footerDiv3{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

.redes{
    width: 35px;
    height: 35px;
    border:1px solid rgb(150,150,150);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:0px 2.5px;
    border-radius: 100%;
}

.divRedes{
    display: flex;
    
}

.footerDiv1 > .fooDiv1{
    width: 30%;
}

.footerDiv1 > .fooDiv2{
    width: 18%;
}

.footerDiv1 > .fooDiv3{
    width: 18%;
}

.footerDiv1 > .fooDiv4{
    width: 18%;
}

.news{
    font-size: 21px;
    font-weight: bolder;
}

.fooTitle{
    font-weight: bolder;
}

/*----*/
.footerDiv2 > .fooDiv1{
    width: 25%;
}

.footerDiv2 > .fooDiv2{
    width: 25%;
}

.footerDiv2 > .fooDiv3{
    width: 25%;
}

.footerDiv2 > .fooDiv4{
    width: 25%;
}

/*---*/
.botonSuscricion3{
    background-color: rgb(204, 0, 27);
    color: #fff;
    padding: 10px 25px;
    margin: 0px 5px 0px 0px;
}

.botonSuscricion3:hover{
    /*background-color: rgba(204, 0, 27,0.75);*/
    transition: all 0.5s;
}


.boton{
    border:none;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
}

.footerDiv3 > .fooDiv1{
    width: 25%;
    color: rgb(204, 0, 27);
}

.footerDiv3 > .fooDiv2{
    width: 25%;
}

.footerDiv3 > .fooDiv3{
    width: 25%;
}

.footerDiv3 > .fooDiv4{
    width: 25%;
}

.clarinDigital{
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 0px;
}

.divClarinDigital{
    margin-bottom: 30px;
}

.incluye{
    margin-top: 30px;
}

.lista{
    padding-left: 20px;
    font-weight: bolder;
    width: 80%;
}

.titleCla{
    font-weight: bolder;
}