.header {
    background: black;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    position: fixed;
    z-index: 20;
    top: 0;
}

.divHeader {
    color: #fff;
    width: 95%;
    background: black;
    display: flex;
    justify-content:space-between;
}

.divHeader div {
    background: none;
    display: flex;
    align-items: center;
}

.tabsSection {
    width: 100%;
    height: 90px;
    background: gainsboro;
    display: flex;
    justify-content: center;
}

.tabsSectionDos{
    width: 100%;
    height: 60px;
    background: gainsboro;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8vh;
    left: 0;
    position: fixed;
    display: none;
    z-index: 18;
}

.aSection,.aSectionDos{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.aSection:hover{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.aSection1{
    background: rgb(20, 146, 230); 
}

.aSection div{
    position: absolute;
    bottom: 8px;
    right: 10px;
    display: inline-block;
    text-align: end;
} 

.aSectionDos div{
    position: absolute;
    bottom: 5px;
    right: 8px;
    display: inline-block;
    text-align: end;
} 

.aSection > div > p,.aSectionDos > div > p{
    text-decoration: none;
    color: #000000;
}

.aSection2{
    background: rgb(158, 173, 168);
}

.aSection3{
    background: rgb(226, 177, 132);
}

.aSection4{
    background: rgb(226, 13, 50);
}

.aSection5{
    background: rgb(242, 176, 45);
}

.boton{
    border-radius: 5px;
    cursor: pointer;
}

.botonSuscricion{
    background-color: rgb(204, 0, 27);
    color: #fff;
    font-size: 14px;
    padding: 5px 25px;
    margin: 0px 5px 0px 0px;
}

.botonSuscricion2{
    background-color: rgb(204, 0, 27);
    color: #fff;
    padding: 10px 40px;
    border: 1px solid #ffffff;
    margin: 0px 5px 0px 0px;
}

.botonSuscricion > span{
    font-size: 14px;
}

.botonSuscricion2 > span{
    font-size: 17px;
}

.botonSuscricion:hover,.botonSuscricion2:hover{
    background-color: rgba(204, 0, 27,0.75);
    transition: all 0.5s;
}

.ingresar{
    margin: 0px 0px 0px 5px;
}

.ingresar > div{
    border-radius: 5px;
    margin-right: 15px;
    color: #fff;
    padding: 7px 10px; 
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255,0.5);
}

.ingresar > div > span{
    margin-right: 15px;
    padding: 0;
}

.ingresar> div:hover{
    border: 1px solid rgb(255, 255, 255);
}

.iconBars{
    color: #ffffff;
    font-size: 23px;
    margin: 0px 40px 0px 0px;
    cursor: pointer;
}

#divSearch{
    display: none;
    position: relative;
    height: 100%;
    width: 250px;
}

.inputSearch{
    background: #ffffff;
    font-size: 15px;
    padding: 7px 7px 7px 30px;
    width: 100%;
    border:none;
    border-radius: 5px;
}

.iconSearch{
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.iconSearch2{
    cursor: pointer;
}

.logo{
    margin:0px 20px;
    height:55%;
    width: 130px;
    background-size: cover;
}

.cultura{
    font-size: 25px;
}

/*menu*/
@font-face{
    font-family: 'menuFont';
    src : url(../letterFonts/Roboto-Light.ttf);
}


.menu{
    font-family: 'menuFont';
    font-size: 13px;
    position: absolute;
    transition: all 0.3s;
    background: rgb(43, 43, 43);
    width: 300px;
    left: -300px;
    top: 8vh;
    overflow: auto;  
    color: #fff; 
    height: 92vh;
    padding: 15px;
    z-index: 11111;
}

#menu{
    z-index: 11111;
}


.menu::-webkit-scrollbar{
    width: 3px;
    background: rgb(43, 43, 43);
}

.menu::-webkit-scrollbar-thumb{
    background: rgb(70, 70, 70);
}

.divSuscribe{
    padding: 15px 0px;
    font-size: 15px;
}


.menu > div > i,.menu > div > a{
    cursor: pointer;
}

.opcionMenu  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.opcionMenu  a:hover{
    color: rgba(255,255,255,0.7);
}

.botonPrincipal{
    display: flex;
    justify-content: space-between;

    padding: 10px 0px;
}

.botonSecundario{
    display: none;
}

.botonSecundario > div{
    padding: 10px 20px;  
}

.visible{
    left: 0px;
}

.subVisible{
    display: block;
}
/*
a{
    color: #ffffff;
    text-decoration: none;
}
*/
.botonPrincipal > i{
    cursor: pointer;
}



/*trend*/
.trend {
    width: 100%;
    height: 100vh;
    padding-top: 8vh;
}


.trendContent{
    width: 100%;
    height: 92vh;
    background: url("../img/martin-ron1.webp") /*fixed center*/;
    background-image: url("../img/martin-ron1.webp");
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    background-size: cover;
    position: relative;
    
}

.trendContent:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00379E;
    opacity: 0.40; 
}

.contentTextTrend{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    text-align: center;
    color: #fff;
}

.contentTextTrend > div{
    margin:25px auto;
    width: 70%;
}

.trendTitle{
    font-size: 18px;
}

.subtitleTrend{
    font-size: 55px;
    font-weight: bolder;
    margin: 16px 0px;
}

.descriptionTrend{
    font-size: 25px;
}
