@font-face{
    font-family: 'indexFont';
    src : url(../letterFonts/PTSerif-Regular.ttf);
}

*{
    font-family: 'indexFont';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
   
}

p{
    margin:0px;
}