.scrollyTeling{
    margin-top: 100px;
    width: 100%;
    height: 1600vh;
    position: relative;
}

.divBar{
    height: 100vh;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 7;
}

.card{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1600vh;
    float: left;
    display: flex;
    flex-direction: column;
}

.contentCard{
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
}

.notaCard{
    width: 650px;
    height: 280px;
    background-color: rgba(60,60,60,0.8);
    z-index: 13;
    margin: 2.5%;
    display: flex;
    padding: 30px;
}

.position{
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 25;
}

.pos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pos > div{
    margin: 5px auto;
    width: 15px;
    height: 15px;
    background-color: rgba(50,50,50,0.5);
    display: block;
    border-radius: 100%;
    cursor: pointer;
}

.notaCardImg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notaCardCont{
    width: 70%;
    color: #ffffff;
    position: relative;
}

.cardTitle{
    font-size: 20px;
    font-weight: bolder;
}

@font-face{
    font-family: 'seccionFont';
    src : url(../letterFonts/Roboto-Light.ttf);
}

.cardText{
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    font-family: 'seccionFont';
}

.viewPhoto{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.viewPhoto > span{
    font-family: 'seccionFont';
}

.iconPlus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 100%;
    margin-right: 10px;
}

.imagenScroll{
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 12;
    position: absolute;
    background-size: cover;
    top: 0;
    display: none;
}

#imagenScroll{
    display: block;
}