.seccion{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.inicioSeccion{
    width: 100%;
    height: 480px;
}

.divImgSeccion{
    width: 40%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 17;
}

.divImgSeccion2{
    height: 480px;
}

.divImgSeccion3,.divImgSeccion4,.divImgSeccion5{
    height: 100%;
}

.titleSeccion{
    width: 60%;
    align-items: center;
    z-index: 17;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
}

.divSeccion{
    opacity: 0;
    transition: all 0.6s;
    transform: translate(150px,0px);
}


.inicioSeccion1,.inicioSeccion2{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.inicioSeccion1{
    background: rgb(20, 146, 230);
}

.inicioSeccion2{
    background: rgb(158, 173, 168);
}

.inicioSeccion3{
    background: rgb(226, 177, 132);
}

.inicioSeccion4{
    background: rgb(226, 13, 50);
}

.inicioSeccion5{
    background: rgb(242, 176, 45);
}

.inicioSeccion3,.inicioSeccion4,.inicioSeccion5{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: end;
}

.imgSeccion{
    z-index: 13;
    opacity: 0;
    transition: all 0.6s;
    transform: translate(-150px,0px);
}

.appear{
    opacity: 1;
    transform: translate(0px,0px);
}

.title{
    font-size: 45px;
}

.titleNegrita{
    font-weight: bolder;
}
